Package: softpwm-dkms
Maintainer: Adam Watkins
Homepage: https://github.com/stupidpupil/hp_n36-40-54l_health_led_drivers
Description: dkms source for the softpwm software PWM driver
Architecture: all
Priority: optional
Section: kernel
Depends: dkms (>= 2)
Installed-Size: 60
