Package: i2c-piix4-dkms
Maintainer: Adam Watkins
Description: dkms source for the backported i2c-piix4 driver
Architecture: all
Priority: optional
Section: kernel
Depends: dkms (>= 2)
Installed-Size: 80
